<ion-header class="ion-no-border">
  <ion-toolbar class="secondary">
    <text-changer slot="start" *ngIf="!(userSettingsService.isMobile())" [parentPageType]="'page-foreword'" class="text-changer-desktop-view"></text-changer>
    <ion-buttons slot="end" class="secondary-toolbar-buttons-wrapper">
      <ion-button *ngIf="showURNButton" (click)="showReference()" class="sec-menu-button">
        <ion-icon slot="start" class="urn-icon" name="arrow-redo-sharp"></ion-icon>
        <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Reference.refer' | translate }}</span>
      </ion-button>
      <ion-button *ngIf="showViewOptionsButton" #settingsIconElement (click)="showReadSettingsPopover($event)" class="sec-menu-button" id="settings-icon">
        <ion-icon slot="start" class="settings-icon" name="settings-sharp"></ion-icon>
        <span *ngIf="!(userSettingsService.isMobile())" class="side-title">{{'Read.Popover.Options' | translate }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="publication-ion-content" [ngClass]="printMainContentClasses()">
  <div class="scroll-content-container">
    <ion-spinner *ngIf="textLoading" class="loading" name="crescent"></ion-spinner>
    <div class="tei teiContainer"
    [innerHTML]="text" [ngClass]="((readPopoverService.fontsize==0)?'xsmallFontSize':(readPopoverService.fontsize==1)?'smallFontSize':(readPopoverService.fontsize==2)?'mediumFontSize':(readPopoverService.fontsize==3)?'largeFontSize':'xlargeFontSize')"></div>
  </div>
</ion-content>

<text-changer *ngIf="(userSettingsService.isMobile())" [parentPageType]="'page-foreword'" class="text-changer-mobile-view"></text-changer>
