@import "../../../theme/variables.scss";

ion-button.close {
	--color: #000;
}

.font-size-buttons-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2px 0;
}

ion-button.text-button {
	--background: transparent;
	--background-hover: var(--button-background-color);
	--background-hover-opacity: 0.2;
	--box-shadow: none;
	--color: #000;
	--padding-start: 0;
	--padding-end: 0;
}
ion-button.text-button::part(native) {
	width: 3.25rem;
}
ion-button.text-button.selected-font-size {
	--background: var(--button-background-color);
	--color: #fff;
}
ion-button.text-xsmall {
	font-size: 0.75rem !important;
}
ion-button.text-small {
	font-size: 1rem !important;
}
ion-button.text-medium {
	font-size: 1.25rem !important;
}
ion-button.text-large {
	font-size: 1.5rem !important;
}
ion-button.text-xlarge {
	font-size: 1.75rem !important;
}

.asterix {
	height: 0.75rem;
	padding-right: 0.125rem;
}
.show_personInfo {
	display: inline;
	background-color: var(--persName-color);
}
.show_workInfo {
	display: inline;
	background-color: var(--workTitle-color);
}
.show_placeInfo {
	display: inline;
	background-color: var(--placeName-color);
}
.show_abbreviations {
	display: inline;
	background-color: var(--abbreviations-color);
}
.show_changesInfo {
	display: inline;
	background-color: var(--changes-color);
}
.show_normalisationsInfo {
	display: inline;
	background-color: var(--normalisations-color);
}
