@import "../../../theme/variables.scss";

ion-button.close {
	--color: #000;
}

/*
ion-item ion-label.label {
	line-height: 1.5;
	margin: 9px 8px 9px 0;
}


.user-settings-popover-header ion-label {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
}
.lang-header {
	margin-top: 14px;
}
.close {
	font-size: 1rem;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	cursor: pointer;
	transition: $opacity-hover-transition;
}
.close:hover {
	opacity: $opacity-hover;
}
.close:active {
	opacity: 1;
}
*/