<ion-list *ngIf="enableLanguageChanges">
    <ion-list-header class="user-settings-popover-header">
        <div class="lang-header">{{'About.Language' | translate}}</div>
        <div class="close" (click)="close()"><ion-icon name="close"></ion-icon></div>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="languageService.language">
        <ion-item *ngFor="let lang of languageService.languages">
            <ion-label>{{lang}}</ion-label>
            <ion-radio slot="end" [value]="lang"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>

<ion-list class="view-mode">
    <ion-list-header>
        {{'About.ViewMode' | translate}}
    </ion-list-header>
    <ion-radio-group [(ngModel)]="userSettingsService.mode">
        <ion-item>
            <ion-label>{{'About.ViewModeAuto' | translate}}</ion-label>
            <ion-radio value="auto"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>{{'About.ViewModeDesktop' | translate}}</ion-label>
            <ion-radio value="desktop"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>{{'About.ViewModeMobile' | translate}}</ion-label>
            <ion-radio value="mobile"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>