<ion-list *ngIf="enableLanguageChanges" lines="full">
    <ion-list-header class="user-settings-popover-header">
        <ion-label>{{'About.Language' | translate}}</ion-label>
        <ion-button class="close" (click)="close()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="languageService.language">
        <ion-item *ngFor="let lang of languageService.languages">
            <ion-label>{{lang}}</ion-label>
            <ion-radio slot="end" [value]="lang"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>

<ion-list lines="full">
    <ion-list-header>
        <ion-label>{{'About.ViewMode' | translate}}</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="userSettingsService.mode">
        <ion-item>
            <ion-label>{{'About.ViewModeAuto' | translate}}</ion-label>
            <ion-radio value="auto"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>{{'About.ViewModeDesktop' | translate}}</ion-label>
            <ion-radio value="desktop"></ion-radio>
        </ion-item>
        <ion-item>
            <ion-label>{{'About.ViewModeMobile' | translate}}</ion-label>
            <ion-radio value="mobile"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ion-list>