<ion-toolbar>
  <ion-buttons class="top-menu-buttons" slot="start">
    <ion-button (click)="hamburgerMenuClick.emit()">
      <ion-icon *ngIf="!showSideMenu" name="menu"></ion-icon>
      <ion-icon *ngIf="showSideMenu" name="close"></ion-icon>
    </ion-button>
    <ion-button>
      <a [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopContentButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/publications']">
        {{ 'TopMenu.Read' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopAboutButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/about']">
        {{ 'TopMenu.Info' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopMusicButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/music']">
        {{ 'TopMenu.Music' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopSimpleSearchButton" class="simple-search-button" (click)="searchApp()" id="searchIcon">
      <ion-icon slot="start" name="search"></ion-icon>
      <span class="side-title">{{ 'TopMenu.SimpleSearch' | translate }}</span>
    </ion-button>
    <ion-button *ngIf="showTopElasticButton" class="elastic-search-button" (click)="elasticSearch()" id="elasticSearchIcon">
      <ion-icon slot="start" name="search"></ion-icon>
      <span class="side-title">{{ 'TopMenu.AdvancedSearch' | translate }}</span>
    </ion-button>
    <ion-button *ngIf="showTopURNButton" (click)="showReference($event)">
      <ion-icon slot="start" name="share"></ion-icon>
      <span class="side-title">{{ 'Reference.refer' | translate }}</span>
    </ion-button>
    <ion-button *ngIf="showHelpButton" (click)="help()">
      <ion-icon name="help"></ion-icon>
    </ion-button>
    <ion-button *ngIf="showViewToggle" (click)="showUserSettingsPopover($event)" end>
      <ion-icon name="earth"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div slot="end" class="title-logo-wrapper">
    <title-logo></title-logo>
  </div>
</ion-toolbar>
