<ion-toolbar>
  <div slot="end" class="title-logo-wrapper">
    <title-logo></title-logo>
  </div>
  <ion-buttons slot="start" class="top-menu-buttons">
    <ion-button (click)="toggleSplitPane()">
      <ion-icon *ngIf="!showSideMenu" name="menu"></ion-icon>
      <ion-icon *ngIf="showSideMenu" name="close"></ion-icon>
    </ion-button>
    <ion-button>
      <a [routerLink]="['/home']">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopContentButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/publications']">
        {{ 'TopMenu.Read' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopAboutButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/content', language + '-' + firstAboutPageId]">
        {{ 'TopMenu.Info' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopMusicButton && userSettingsService.isDesktop()">
      <a [routerLink]="['/music']">
        {{ 'TopMenu.Music' | translate }}
      </a>
    </ion-button>
    <ion-button *ngIf="showTopSimpleSearchButton" class="simple-search-button" (click)="searchApp()" id="searchIcon">
      <ion-icon slot="start" name="search"></ion-icon>
      <span class="side-title">{{ 'TopMenu.SimpleSearch' | translate }}</span>
    </ion-button>
    <ion-button *ngIf="showTopElasticButton" class="elastic-search-button" id="elasticSearchIcon">
      <a [routerLink]="['/elastic-search']">
        <ion-icon slot="start" name="search"></ion-icon>
        <span class="side-title">{{ 'TopMenu.AdvancedSearch' | translate }}</span>
      </a>
    </ion-button>
    <ion-button *ngIf="showTopURNButton" (click)="showReference($event)">
      <ion-icon slot="start" name="share"></ion-icon>
      <span class="side-title">{{ 'Reference.refer' | translate }}</span>
    </ion-button>
    <ion-button *ngIf="showHelpButton" (click)="help()">
      <ion-icon name="help"></ion-icon>
    </ion-button>
    <ion-button *ngIf="showViewToggle" (click)="showUserSettingsPopover($event)">
      <ion-icon name="earth"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
