@import "../../../theme/variables.scss";

:host {
  top: 0;
  width: 100%;
  height: var(--top-menu-toolbar-height, 70px);
  font-family: var(--font-stack-top-menu);
}

ion-toolbar {
  --min-height: var(--top-menu-toolbar-height, 70px);
  max-height: var(--top-menu-toolbar-height, 70px);
  border-bottom: var(--top-menu-toolbar-bottom-border);
}

ion-toolbar ion-button {
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  filter: var(--top-menu-button-filter, 0);
  --transition: color 0.2s;
  --background-hover: transparent;
  --ripple-color: transparent;
  --color-hover: rgba(var(--text-color-on-primary-color-background-rgb), var(--opacity-hover));
  a {
    color: #fff;
    text-decoration: none;
  }
}

ion-toolbar ion-button:first-child {
  margin-inline-start: 0.5rem;
}

ion-toolbar ion-button ion-icon {
  font-size: var(--top-menu-toolbar-button-icons-font-size, 1.875rem);
  margin-right: 0;
}

ion-toolbar ion-button .side-title {
  font-size: 0.625rem;
  margin-left: 0.5em;
  font-weight: normal;
}

@media only screen and (max-width: 820px) {
  ion-toolbar ion-button {
    margin-right: 0.5rem;
  }

  ion-toolbar ion-button:first-child {
    margin-inline-start: 0.125rem;
  }

  ion-toolbar ion-button .side-title {
    display: none;
  }
}

div.title-logo-wrapper {
  padding: 0 .5rem 0 .75rem;
}

/*
ion-toolbar > .toolbar-content > ion-grid > ion-row {
  flex-wrap: nowrap;
}

.button-inner {
  font-weight: 600;
}

span {
  font-family: var(--font-stack-top-menu-legacy);
  font-size: 1rem;
}

.mobile_row {
  display: flex;
  justify-content: flex-start;
  .enable {
    padding-left: 0;
    margin-left: 0;
  }
  button.button-default {
    filter: var(--top-menu-legacy-button-filter);
  }
}
ion-buttons {
  display: flex !important;
  width: 100%;

  button.bar-button-default {
    padding-left: 20px;
    padding-right: 20px !important;
    filter: var(--top-menu-legacy-button-filter);
    transition: $opacity-hover-transition;
  }
  button.bar-button-default:hover:not(.disable-hover) {
    opacity: $opacity-hover;
  }
  button.bar-button-default:active {
    opacity: 1;
  }
}

@media only screen and (max-width: 820px) {
  ion-buttons {
    button.bar-button-default {
      padding-left: 12px;
      padding-right: 12px !important;
    }
  }
  .side-title {
    display: none;
  }
}

ion-toolbar ion-buttons {
  margin-left: -60px !important;
  transition: 0.3s margin-left ease-in;
}

.toolbar-content ion-title.title {
  height: 100%;
}

.side-title {
  font-size: 10px;
  margin-left: 8px;
  font-weight: normal;
}

.toolbar-ios ion-title {
padding: 0;
}

.toolbar-md {
padding: 0;
}

.toolbar {
max-height: 70px !important;
min-height: 70px !important;
}

.mobile_row {
background-color: transparent;
}

.mobile_row > button {
background-color: transparent !important; // imp needed to override hover bg-color
box-shadow: none !important;  // imp needed to override shadow on click
}

.secondary.toolbar {
max-height: 50px !important;
min-height: 50px !important;
}

.split-pane-visible {
top-menu-legacy {
  left: $top-menu-legacy-left-split-pane;
}
}

.split-pane {
margin-top: 10px;
}

ion-icon {
font-size: 1.8rem;

@media only screen and (max-width: 650px) {
  font-size: 1.8rem;
}
}

*/
