/* ATTN. Styles for elements in the markdown content must be defined in global.scss. */

.md_content {
    width: 100%;
    max-width: 800px;
    padding: 1rem 1rem 4rem 1rem;
}

list-of-songs {
    margin-left: 1rem;
    display: block;
}

@media(max-width: 820px) {
    .md_content {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    list-of-songs{
        margin-left: 0.5rem;
    }
}

@media(max-width: 600px) {
    .md_content {
        padding-left: 0;
        padding-right: 0;
    }
    
    list-of-songs{
        margin-left: 0;
    }
}
