<li class="accordion" [class.open]="selected">
  <ul>
    <ng-container *ngFor="let child of children; let i = index">
      <li class="mainMenuItem" (click)="toggleAccordion(child.id)" [class.menu-highlight]="router.url.includes(child.id) && !child.children">
        <ng-container [ngSwitch]="!!child.children?.length">
          <a *ngSwitchDefault routerLink="{{parentPath + '/' + child.id}}">{{child.title}}</a>
          <span *ngSwitchCase="true">{{child.title}}</span>
        </ng-container>
        <ion-icon *ngIf="child.children" name="chevron-forward-outline" [class.open]="selectedMenu === child.id"></ion-icon>
      </li>
      <app-recursive-accordion
        [selected]="selectedMenu === child.id"
        [childId]="child.id"
        *ngIf="child.children"
        [children]="child.children"
        [parentPath]="parentPath">
      </app-recursive-accordion>
    </ng-container>
  </ul>
</li>
