<ng-container *ngIf="userSettingsService.isDesktop() && !userSettingsService.isTablet() && !userSettingsService.isMobile()">
    <a rel="noreferrer" target="_blank" href="{{siteLogoURL}}">
        <img *ngIf="!useMobileLogo" class="logo" alt="logo image" src="assets/images/logo.svg">
        <img *ngIf="useMobileLogo" class="logo" alt="logo image" src="assets/images/logo-mobile.svg">
    </a>
</ng-container>
<ng-container *ngIf="userSettingsService.isMobile() || userSettingsService.isTablet()">
    <a *ngIf="!userSettingsService.isTablet()" rel="noreferrer" href="{{siteLogoURL}}">
        <img class="logo" alt="logo image" src="assets/images/logo-mobile.svg">
    </a>
    <a *ngIf="userSettingsService.isTablet()" rel="noreferrer" href="{{siteLogoURL}}">
        <img *ngIf="!useMobileLogo" class="logo" alt="logo image" src="assets/images/logo.svg">
        <img *ngIf="useMobileLogo" class="logo" alt="logo image" src="assets/images/logo-mobile.svg">
    </a>
</ng-container>
