:host {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

img.logo {
  display: block;
  height: 60px;
  transition: var(--opacity-hover-transition);
}

img.logo:hover {
  opacity: var(--opacity-hover);
}
